# fill in the relevant values in this file, and rename it to dev.env

POSTGRES_HOST=db
POSTGRES_USER=ci
POSTGRES_DB=ci
POSTGRES_PASSWORD=password

# used for "log in with GitHub" button
GITHUB_OAUTH_CLIENT_ID=
GITHUB_OAUTH_CLIENT_SECRET=

# used for installation to GitHub repos
GITHUB_APP_CLIENT_ID=
GITHUB_APP_CLIENT_SECRET=
